[Unit]
Description=Portfolio rocket app
After=syslog.target

[Service]
Type=simple
User=portfolio
WorkingDirectory=/home/portfolio/app
ExecStart=/home/portfolio/app/fvd_portfolio
Environment=ROCKET_TLS="{ certs = \"/etc/letsencrypt/live/thecatmaincave.com/fullchain.pem\", key = \"/etc/letsencrypt/live/thecatmaincave.com/privkey.pem\" }"

[Install]
WantedBy=multi-user.target

